<!-- MapLegendView Template -->
<div class="legend-container">
  <h3>Map Legend</h3>
  
  <div class="legend-items">
    <div class="legend-item">
      <div class="legend-color furnace"></div>
      <span>Furnace</span>
    </div>
    
    <div class="legend-item">
      <div class="legend-color trap"></div>
      <span>Trap</span>
    </div>
    
    <div class="legend-item">
      <div class="legend-color misc-object"></div>
      <span>Miscellaneous Object</span>
    </div>
    
    <div class="legend-item">
      <div class="legend-color placed"></div>
      <span>Placed</span>
    </div>
    
    <div class="legend-item">
      <div class="legend-color unplaced"></div>
      <span>Unplaced</span>
    </div>
    
    <div class="legend-item">
      <div class="legend-color locked"></div>
      <span>Locked</span>
    </div>
  </div>
</div>
