<!-- MiscObjectTableRow Template -->
<td>${this.index + 1}</td>
<td>${this.miscObject.getName() || '-'}</td>
<td>${this.miscObject.getX() || '-'}</td>
<td>${this.miscObject.getY() || '-'}</td>
<td>${this.miscObject.getSize() || '-'}</td>
<td class="actions-cell">
  <button 
    class="btn btn-edit"
    @click=${this._onEdit}
    title="Edit Object"
  >
    Edit
  </button>
  <button 
    class="btn btn-delete"
    @click=${this._onDelete}
    title="Delete Object"
  >
    Delete
  </button>
</td>
